<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bum2us.infra.modules.codegroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="com.bum2us.infra.modules.codegroup.CodeGroup"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		<!-- 
		SELECT
			a.seq
		    ,a.groupName
		    ,count(b.groupSeq) as codeCount
		FROM ccg a
		JOIN cc b ON b.groupSeq = a.seq
		GROUP BY b.groupSeq;
		 -->
		 
		 SELECT
		 	seq
		 	,groupName
		 	,groupUseNy
		 	,createDate
		 	,editDate
		 	,(
		 	SELECT
		 		COUNT(groupSeq) 
		 	FROM cc
		 	WHERE groupSeq = a.seq 
		 	) AS codeCount
		 FROM ccg a
		 
	</select>
	
	<select id="srcList" resultMap = "resultMapObj">
		
		SELECT
			*
			,(
			SELECT
				COUNT(groupSeq)
			FROM cc
			WHERE a.seq = groupSeq
			) AS codeCount
		FROM ccg a
		WHERE 1=1
		<choose>
			<when test="shOption == 1"> AND seq LIKE CONCAT ('%',#{shValue},'%')</when>
			<when test="shOption == 2"> AND groupName LIKE CONCAT ('%',#{shValue},'%')</when>
		</choose>
		<choose>
			<when test="shUseNy == 0"> AND groupUseNy LIKE 0</when>
			<when test="shUseNy == 1"> AND groupUseNy LIKE 1</when> 
		</choose>
		<choose>
			<when test="shDateOption == 1">AND editDate BETWEEN #{shDateStart} AND  #{shDateEnd} </when>
			<when test="shDateOption == 2">AND createDate BETWEEN #{shDateStart} AND  #{shDateEnd} </when>
		</choose>
		
	</select>
	
	<insert id="insertGroupCode">
		
		INSERT INTO ccg
		(
			groupName
			,groupUseNy
		)
		VALUES
		(
			#{groupName}
			,#{groupUseNy}
		)
		
	</insert>

</mapper>	