<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bum2us.infra.modules.codegroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="com.bum2us.infra.modules.codegroup.CodeGroup"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		<!-- 
		SELECT
			a.seq
		    ,a.ccgName
		    ,count(b.groupSeq) as codeCount
		FROM ccg a
		JOIN cc b ON b.groupSeq = a.seq
		GROUP BY b.groupSeq;
		 -->
		 
		 SELECT
		 	ccgSeq
		 	,ccgName
		 	,ccgUseNy
		 	,ccgCreateDate
		 	,ccgEditDate
		 	,(
		 	SELECT
		 		COUNT(groupSeq) 
		 	FROM cc
		 	WHERE groupSeq = a.ccgSeq 
		 	) AS codeCount
		 FROM ccg a
		 
	</select>
	
	<select id="srcList" resultMap = "resultMapObj">
		
		SELECT
			*
			,(
			SELECT
				COUNT(groupSeq)
			FROM cc
			WHERE a.ccgSeq = groupSeq
			) AS codeCount
		FROM ccg a
		WHERE 1=1
		<include refid="searchSql"></include>
		
	</select>
	
	<sql id="searchSql">
		<choose>
			<when test="shOption == 1"> AND ccgSeq LIKE CONCAT ('%',#{shValue},'%')</when>
			<when test="shOption == 2"> AND ccgName LIKE CONCAT ('%',#{shValue},'%')</when>
		</choose>
		<choose>
			<when test="shUseNy == 0"> AND ccgUseNy LIKE 0</when>
			<when test="shUseNy == 1"> AND ccgUseNy LIKE 1</when> 
		</choose>
		<choose>
			<when test="shDateOption == 1">AND ccgEditDate BETWEEN #{shDateStart} AND  #{shDateEnd} </when>
			<when test="shDateOption == 2">AND ccgCreateDate BETWEEN #{shDateStart} AND  #{shDateEnd} </when>
		</choose>
	</sql>
	
	<insert id="insertGroupCode">
		
		INSERT INTO ccg
		(
			ccgName
			,ccgUseNy
		)
		VALUES
		(
			#{ccgName}
			,#{ccgUseNy}
		)
		
	</insert>
	
	<select id="selectListCachedCodeGroupList" resultMap = "resultMapObj">
		SELECT
			ccgSeq
			,ccgName
		FROM ccg 
		WHERE 1 = 1	
		AND ccgUseNy = 1
	</select>

</mapper>	