<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bum2us.infra.modules.codegroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="com.bum2us.infra.modules.codegroup.CodeGroup"></resultMap>
	
	<select id="selectListCount" resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			ccg
		WHERE 1=1	
		<include  refid="searchSql"/>
	</select>
	
	<select id="selectList" resultMap="resultMapObj">
		<!-- 
		SELECT
			a.seq
		    ,a.ccgName
		    ,count(b.groupSeq) as codeCount
		FROM ccg a
		JOIN cc b ON b.groupSeq = a.seq
		GROUP BY b.groupSeq;
		 -->
		 
		 SELECT
		 	ccgSeq
		 	,ccgName
		 	,ccgUseNy
		 	,ccgCreateDate
		 	,ccgEditDate
		 	,(
		 	SELECT
		 		COUNT(groupSeq) 
		 	FROM cc
		 	WHERE groupSeq = a.ccgSeq 
		 	) AS codeCount
		 FROM ccg a
		 WHERE 1=1
		 <include  refid="searchSql"/>
		 <include refid="rangeSql"/>
	</select>
	
	<select id="srcList" resultMap = "resultMapObj">
		 
		SELECT
			*
			,(
			SELECT
				COUNT(groupSeq)
			FROM cc
			WHERE a.ccgSeq = groupSeq
			) AS codeCount
		FROM ccg a
		WHERE 1=1
		<include refid="searchSql"></include>
		
	</select>
	
	<sql id="rangeSql">
		LIMIT #{pageSize} OFFSET #{pageRange}  
	</sql>
	
	<sql id="searchSql">
		<choose>
			<when test="shOption == null"></when>
			<when test="shOption == 1"> AND ccgSeq LIKE CONCAT ('%',#{shValue},'%')</when>
			<when test="shOption == 2"> AND ccgName LIKE CONCAT ('%',#{shValue},'%')</when>
		</choose>
		<choose>
			<when test="shUseNy == null"></when>
			<when test="shUseNy == 1"> AND ccgUseNy LIKE 0</when>
			<when test="shUseNy == 2"> AND ccgUseNy LIKE 1</when> 
		</choose>
		<choose>
			<when test="shDateOption == null">AND  ccgCreateDate </when>
			<when test="shDateOption == 1">AND  ccgEditDate  </when>
			<when test="shDateOption == 2">AND  ccgCreateDate </when>
		</choose>
		<choose>
			<when test = 'shDateStart == null or shDateStart ==""'> BETWEEN CONCAT('1700-01-01', ' 00:00:00') AND CONCAT('2300-01-01',' 00:00:00') </when>
			<when test = "shDateStart != null and shDateEnd != null">BETWEEN CONCAT(#{shDateStart},' 00:00:00') AND CONCAT(#{shDateEnd},' 23:59:59') </when> 
		</choose>   
	</sql>
	
	<select id="selectOne" resultMap="resultMapObj">
		
		SELECT
			*
		FROM ccg
		WHERE 1=1
		AND ccgSeq LIKE #{upCcgSeq}
	
	</select>
	
	<insert id="insertGroupCode">
		
		INSERT INTO ccg
		(
			ccgName
			,ccgUseNy
		)
		VALUES
		(
			#{ccgName}
			,#{ccgUseNy}
		)
		
	</insert>
	
	<select id="selectListCachedCodeGroupList" resultMap = "resultMapObj">
		SELECT
			ccgSeq
			,ccgName
		FROM ccg 
		WHERE 1 = 1	
		AND ccgUseNy = 1
	</select>
	
	<update id="updateGroup">
		
		UPDATE ccg
		SET 
		ccgName = #{ccgName}
		,ccgUseNy = #{ccgUseNy}
		WHERE
			ccgSeq = #{ccgSeq}
	
	</update>

</mapper>	