<!DOCTYPE mapper
	PUBLIC "-//mybatis.rog//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace = "com.bum2us.infra.modules.comment.CommentMapper">

	<resultMap id="resultObj" type="com.bum2us.infra.modules.comment.Comment"></resultMap>

	<insert id="insert">
		
		INSERT INTO comment
		(
			cmWriter
			,cmPostId
			,cmContent
		)
		VALUES
		(
			#{cmWriter}
			,#{cmPostId}
			,#{cmContent}
		)
	
	</insert>
	
	<select id="selectList" resultMap="resultObj">
		
		SELECT
			cm.*
			,mm.mmNickname
			,upm.upmUuidName
			,upm.upmPath
			,(
				SELECT
					COUNT(*)
				FROM luv
				WHERE luvPostId = cm.cmSeq
				AND luvType = 2
			) as luvCount
            ,(
              	SELECT
              		COUNT(*)
              	FROM luv
              	WHERE luvPostId = cm.cmSeq
              	AND luvType = 2
              	AND luvWriter = #{loginUserSeq}
             )as loginUserLuvNy
		FROM
			comment cm
		JOIN post post
		ON cm.cmPostId = post.postSeq
		JOIN member mm
		ON mm.mmSeq = cm.cmWriter 
		LEFT JOIN uploadMemberProfile upm
		ON  cm.cmWriter = upm.upmMemberSeq
		AND upm.upmDelNy = 0
		WHERE 1=1 
		AND cmPostId = #{cmPostId}
		ORDER BY cmCreateDate DESC

	</select>

</mapper>