<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.bum2us.infra.modules.code.CodeMapper">

	<resultMap id="resultMapObj" type= "com.bum2us.infra.modules.code.Code"></resultMap>
	
		<select id="selectListCachedCodeList" resultMap = "resultMapObj">
		SELECT
			groupSeq
			,ccName
			,ccKey
		FROM cc 
		WHERE 1 = 1	
		AND ccUseNy = 1 
	</select>
	
	
	<sql id="searchSql">
		<choose>
			<when test="shOption == 1"> AND groupSeq LIKE CONCAT ('%',#{shValue},'%')</when>
			<when test="shOption == 2"> AND ccKey LIKE CONCAT ('%',#{shValue},'%')</when>
			<when test="shOption == 3"> AND ccName LIKE CONCAT ('%',#{shValue},'%')</when>
			<when test="shOption == 4"> AND ccKey LIKE CONCAT ('%',#{shValue},'%')</when>
		</choose>
		<choose>
			<when test="shUseNy == null"></when>
			<when test="shUseNy == 1"> AND ccUseNy LIKE 0</when>
			<when test="shUseNy == 2"> AND ccUseNy LIKE 1</when>
		</choose>
		<choose>
			<when test="shDateOption == null">AND  ccCreateDate </when>
			<when test="shDateOption == 1">AND  ccEditDate  </when>
			<when test="shDateOption == 2">AND  ccCreateDate </when>
		</choose>
		<choose>
			<when test = 'shDateStart == null or shDateStart ==""'> BETWEEN CONCAT('1700-01-01', ' 00:00:00') AND CONCAT('2300-01-01',' 00:00:00') </when>
			<when test = "shDateStart != null and shDateEnd != null">BETWEEN CONCAT(#{shDateStart},' 00:00:00') AND CONCAT(#{shDateEnd},' 23:59:59') </when> 
		</choose>   
	</sql>
	
	<sql id="rangeSql">
		LIMIT #{pageSize} OFFSET #{pageRange}  
	</sql>
	
	<select id="selecOneCount" resultType="Integer">
		SELECT
			COUNT(*) as pageTotal
		FROM cc
		WHERE 1=1
		<include  refid="searchSql"/>
	</select>
	
	<select id="selectList" resultMap ="resultMapObj">
		
		SELECT
			*
			,b.ccgSeq as groupSeq
		FROM cc a
		JOIN ccg b ON a.groupSeq = b.ccgSeq
		WHERE 
			1=1
		<include  refid="searchSql"/>
		<include refid="rangeSql"/>
	</select>
	
	<resultMap id="searchResultObj" type="com.bum2us.infra.modules.code.Code"></resultMap>

	<select id="searchCode" resultMap="searchResultObj">
		
		SELECT
			*
			,b.ccgSeq as groupSeq
			,b.ccgName
		FROM cc a
		JOIN ccg b ON a.groupSeq = b.ccgSeq
		WHERE 
			1=1
		<include  refid="searchSql"/>
		
	</select>
	
	<select id="groupName" resultMap = "resultMapObj">
		
		SELECT
			ccgName
		FROM ccg 
		
	</select>

	<insert id="insertCode">
		
		INSERT INTO cc
		(
			groupSeq
			,ccName
			,ccKey
			,ccUseNy
		)VALUES
		(
			#{groupSeq}
			,#{ccName}
			,#{ccKey}
			,#{ccUseNy}
		)
		
		
	</insert>
	
	
	<update id="updateCode">
		
		UPDATE
			cc
		SET
			ccName = #{ccName}
			,ccUseNy = #{ccUseNy}
			,ccKey = #{ccKey}
			,groupSeq = (
				SELECT
					ccgSeq
				FROM
					ccg
				WHERE
					ccgName = #{ccgName}
			)
		WHERE
			1=1
		AND
			ccSeq = #{ccSeq}
	
	</update>
	
	<select id="selectOne" resultMap = "resultMapObj">
		
		SELECT
			*
			,b.ccgSeq as groupSeq
			,b.ccgName
		FROM cc a
		JOIN ccg b ON a.groupSeq = b.ccgSeq
		WHERE 
			1=1
		AND a.ccSeq = #{upCcSeq}
		
	</select>
	
</mapper>