<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.bum2us.infra.modules.code.CodeMapper">

	<resultMap id="resultMapObj" type= "com.bum2us.infra.modules.code.Code"></resultMap>
	
	<select id="selectList" resultMap ="resultMapObj">
	
		<!-- SELECT
			a.seq
			,a.groupName
			,b.seq as codeSeq
			,b.codeKey
			,b.codeName
		FROM  ccg a
		JOIN cc b ON b.groupSeq = a.seq -->
		
		SELECT DISTINCT
			a.seq
		    ,a.groupName
		    ,(
		    SELECT 
				COUNT(groupSeq)
		    FROM cc 
		    WHERE groupSeq = a.seq
			)AS codeCount
		FROM ccg a
		JOIN cc b ON b.groupSeq = a.seq;
		
	</select>

</mapper>