<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.bum2us.infra.modules.code.CodeMapper">

	<resultMap id="resultMapObj" type= "com.bum2us.infra.modules.code.Code"></resultMap>
	
	<sql id="searchSql">
		<choose>
			<when test="shOption == 1"> AND groupSeq LIKE CONCAT ('%',#{shValue},'%')</when>
			<when test="shOption == 2"> AND codeKey LIKE CONCAT ('%',#{shValue},'%')</when>
			<when test="shOption == 3"> AND codeName LIKE CONCAT ('%',#{shValue},'%')</when>
			<when test="shOption == 4"> AND codeKey LIKE CONCAT ('%',#{shValue},'%')</when>
		</choose>
		<choose>
			<when test="shUseNy == 0"></when>
			<when test="shUseNy == 1"> AND useNy LIKE 0</when>
			<when test="shUseNy == 2"> AND useNy LIKE 1</when>
		</choose>
		<choose>
			<when test="shDateOption == 1"> AND editDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			<when test="shDateOption == 2"> AND createDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
	</sql>
	
	<sql id="rangeSql">
		LIMIT #{pageSize} OFFSET #{pageRange}  
	</sql>
	
	<select id="selecOneCount" resultType="Integer">
		SELECT
			COUNT(*) as pageTotal
		FROM cc
		WHERE 1=1
		<include  refid="searchSql"/>
	</select>
	
	<select id="selectList" resultMap ="resultMapObj">
		
		SELECT
			*
			,b.seq as groupSeq
			,b.groupName
		FROM cc a
		JOIN ccg b ON a.groupSeq = b.seq
		WHERE 
			1=1
		<include  refid="searchSql"/>
		<include refid="rangeSql"/>
	</select>
	
	<resultMap id="searchResultObj" type="com.bum2us.infra.modules.code.Code"></resultMap>

	<select id="searchCode" resultMap="searchResultObj">
		
		SELECT
			*
			,b.seq as groupSeq
			,b.groupName
		FROM cc a
		JOIN ccg b ON a.groupSeq = b.seq
		WHERE 
			1=1
		<include  refid="searchSql"/>
		
	</select>
	
	<resultMap id="groupListResultObj" type="com.bum2us.infra.modules.code.Code"></resultMap>
	
	<select id="groupName" resultMap = "groupListResultObj">
		
		SELECT
			groupName
		FROM ccg 
		
	</select>

	<insert id="insertCode">
		
		INSERT INTO cc
		(
			groupSeq
			,codeName
			,codeKey
			,useNy
		)VALUES
		(
			#{groupSeq}
			,#{codeName}
			,#{codeKey}
			,#{useNy}
		)
		
		
	</insert>
	
	<delete id="deleteCode">
		
		DELETE 
		FROM 
			cc 
		WHERE
			1=1
			AND codeName LIKE '우주인'
		
	</delete>

	<update id="updateCode">
		
		UPDATE
			cc
		SET
			codeName = #{upCodeName}
			,useNy = #{upUseNy}
			,codeKey = #{upCodeKey}
			,groupSeq = (
				SELECT
					seq
				FROM
					ccg
				WHERE
					groupName = #{upCodeGroupName}
			)
		WHERE
			1=1
		AND
			seq = #{upCodeSeq}
			
		
	
	</update>
	
</mapper>