<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace ="com.bum2us.infra.modules.regform.RegisterMapper">
	
	<insert id = "insertList">
		
		INSERT INTO member(
		name
		,id
		,password
		,gender
		,email
		,telecom
		,phone
		,comment
		,nickname
		,dob
		)VALUES(
		
		#{name}
		,#{id}
		,#{password}
		,#{gender}
		,#{email}
		,#{telecom}
		,CONCAT ('010',#{phone1},#{phone2})
		,#{comment}
		,#{nickname}
		,#{dob}
		)
		
		
	</insert>

</mapper>