<!DOCTYPE mapper
	PUBLIC "-//mybais.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.bum2us.infra.modules.post.PostMapper">

	<resultMap id = "resultObj" type = "com.bum2us.infra.modules.post.Post"></resultMap>

	<select id= "selectList" resultMap="resultObj">
	
		SELECT
			*,
			mb.mmNickname,
			bd.bdName
		FROM post po
		JOIN member mb
		ON po.postWriter = mb.mmSeq
		JOIN board bd
		ON po.postBoard = bd.bdSeq
		WHERE 1=1
	</select>
 
	<select id="selectCount" resultType="Integer">
	 
		SELECT
			COUNT(*)
		FROM post
		WHERE 1=1
		AND postDelNy = 0
	
	</select>

</mapper>