<!DOCTYPE mapper
	PUBLIC "-//mybais.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.bum2us.infra.modules.post.PostMapper">

	<resultMap id = "resultObj" type = "com.bum2us.infra.modules.post.Post"></resultMap>
	
	<resultMap id = "resultObjMember" type = "com.bum2us.infra.modules.member.Member"></resultMap>

	<select id= "selectList" resultMap="resultObj">
	
		SELECT
			po.*,
			mb.mmNickname,
			bd.bdName
		FROM post po
		JOIN member mb
		ON po.postWriter = mb.mmSeq
		JOIN board bd
		ON po.postBoard = bd.bdSeq
		WHERE 1=1
		<include refid="rangeSql"/>
	</select>
 
 	<select id="selectListForProfile" resultMap="resultObj">
 	
 		SELECT
 			po.*,
 			up.*
		FROM post po
 		JOIN upload up
 		ON po.postSeq = up.upPostSeq
 		WHERE po.postWriter = #{shOption}
 		
 	</select>
 
	<select id="selectListForMain" resultMap = "resultObj"  parameterType="Integer">
	
		SELECT
            COUNT(*) as luvCount,
			po.*,
 			up.*
		FROM post po
 		JOIN upload up
 		ON po.postSeq = up.upPostSeq
 		JOIN luv luv
 		ON luv.luvPostId = po.postSeq
 		GROUP BY luv.luvPostId
        ORDER BY luvCount DESC
 		LIMIT #{i}
	
	</select>
	
	<select id="selectOne" resultMap = "resultObj"  parameterType="Integer">
	
		SELECT
			po.*,
 			up.*,
 			mm.mmNickname
 			,mm.mmSeq
		FROM post po
 		JOIN upload up
 		ON po.postSeq = up.upPostSeq
 		JOIN member mm
 		ON po.postWriter = mm.mmSeq
 		WHERE #{i} = po.postSeq
	
	</select>
	
	<select id="selectCount" resultType="Integer">
	 
		SELECT
			COUNT(*)
		FROM post
		WHERE 1=1
		AND postDelNy = 0
	
	</select>

	<select id="selectLastSeq" resultType="Integer">
	
		SELECT
			postSeq
		FROM post
		ORDER BY postSeq DESC
        LIMIT 1
		
	</select>

	<select id="selectCheckLoginUserLuved" resultType="Integer">
		
		SELECT
			COUNT(*)
		FROM post post
		JOIN luv luv 
		ON post.postSeq = luv.luvPostId
        WHERE luv.luvWriter = #{loginUserSeq}
        AND post.postSeq = #{postSeq}
		
	</select>

	<insert id="insert">
	
		INSERT INTO post
		(
			postWriter
			,postBoard
			,postContent
		)
		VALUES
		(
			#{postWriter}
			,#{postBoard}
			,#{postContent} 
		)
	</insert>
	
	<insert id="insertUpload">
	
		INSERT INTO upload
		(
			upDefaultNy
			,upSort
			,upExt
			,upOriginalName
			,upUuidName
			,upSize
			,upType
			,upPath
			,upPostSeq
		)
		VALUES
		(
			#{upDefaultNy}
			,#{upSort}
			,#{upExt}
			,#{upOriginalName}
			,#{upUuidName}
			,#{upSize}
			,#{upType}
			,#{upPath}
			,#{postSeq} 
		)
		
	</insert>
	
	<sql id="rangeSql"> 
		LIMIT #{pageSize} OFFSET #{pageRange}  
	</sql>
	
	<select id="selectPostImg" resultMap="resultObj">
		
		SELECT
			*	
		FROM upload 
		WHERE upPostSeq = #{postSeq}
		
	</select>
	
	<select id="selectPostWriteImg" resultMap="resultObjMember"  parameterType="Integer">
		SELECT
			upmPath as upPath
		    ,upmUuidName as upUuidName
		FROM uploadMemberProfile
		WHERE upmMemberSeq = #{i}
		AND upmDelNy = 0
	</select>
	
</mapper>