<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace = "com.bum2us.infra.modules.member.MemberMapper">

	<resultMap id = "resultObj" type="com.bum2us.infra.modules.member.Member"></resultMap>

	<select id="selectList" resultMap = "resultObj">
	
		SELECT
			*
		FROM member
		WHERE
			1=1
		<include refid="searchSql"/>
		<include refid="rangeSql"/>
	</select>
	
	<select id="selectCount" resultType ="Integer" >
		SELECT
			COUNT(*)
		FROM member
		WHERE 1 = 1
		<include refid="searchSql"/>
	</select>
	
	<sql id="rangeSql"> 
		LIMIT #{pageSize} OFFSET #{pageRange}  
	</sql>
	
	<sql id="searchSql">
		AND mmdelNy LIKE 0  
		AND
		<choose>
			<when test= "shOption == null"> mmName </when>
			<when test= "shOption == 1"> mmName </when>
			<when test= "shOption == 2"> mmId </when>
			<when test= "shOption == 3"> mmNickname </when>
			<when test= "shOption == 4"> mmEmail </when>
			<when test= "shOption == 5"> mmPhone </when>
			<when test= "shOption == 6"> mmGender </when>
		</choose>
		<choose>
			<when test=" shValue == null">LIKE CONCAT ('%','','%')</when>
			<when test=" shValue != null">LIKE CONCAT ('%',#{shValue},'%')</when> 
		</choose> 
			<if test="shGender != null">AND mmGender LIKE #{shGender}</if> 
		<choose>
			<when test="shDateOption == null">AND  mmCreateDate </when>
			<when test="shDateOption == 1">  </when>
			<when test="shDateOption == 2">AND  mmCreateDate </when>
			<when test="shDateOption == 3">AND  mmDob </when>
		</choose>
		<choose>
			<when test = 'shDateStart == null or shDateStart ==""'> BETWEEN CONCAT('1700-01-01', ' 00:00:00') AND CONCAT('2300-01-01',' 00:00:00') </when>
			<when test = "shDateStart != null and shDateEnd != null">BETWEEN CONCAT(#{shDateStart},' 00:00:00') AND CONCAT(#{shDateEnd},' 23:59:59')</when> 
		</choose>  
		
	</sql> 

	<select id="selectOneCount" resultType="Integer">
		
		SELECT
			COUNT(*)
		FROM
			member
		WHERE
			1=1
		AND mmId LIKE #{mmId};
	
	</select>
	
	<insert id = "insertList">
		
		INSERT INTO member(
		mmName
		,mmId
		,mmPassword
		,mmGender
		,mmEmail
		,mmTelecom
		,mmPhone
		,mmComment
		,mmNickname
		,mmDob
		,mmZipCode
		,mmAddress
		,mmAddressDetail
		)VALUES(
		
		#{mmName}
		,#{mmId}
		,#{mmPassword}
		,#{mmGender}
		,#{mmEmail}
		,#{mmTelecom}
		,CONCAT ('010',#{mmPhone1},#{mmPhone2})
		,#{mmComment}
		,#{mmNickname}
		,#{mmDob}
		,#{mmZipCode}
		,#{mmAddress}
		,#{mmAddressDetail}
		)
		
	</insert>
	
	<select id="selectOne" resultMap="resultObj">
		
		SELECT
			mm.*
			,upm.upmPath as upPath
			,upm.upmUuidName as upUuidName
		FROM member mm
		LEFT JOIN uploadMemberProfile upm 
		ON mm.mmSeq = upm.upmMemberSeq
		WHERE 1=1
		AND #{shSeq} LIKE mm.mmSeq	
		<!-- WHERE id LIKE #{shId} AND password LIKE #{shPassword} -->
		
	</select>
	
	
	<select id="chkLogin" resultMap="resultObj">
		SELECT
			*
		FROM member
		WHERE
			1=1
		AND #{mmId} LIKE mmId
		AND #{mmPassword} LIKE mmPassword
	</select>
	
	<update id="upadteOne">
		
		UPDATE
			member
		SET
			mmName = #{mmName}
			,mmId = #{mmId}
			,mmPassword = #{mmPassword}
			,mmComment = #{mmComment}
			,mmNickname = #{mmNickname}
			,mmPhone = CONCAT('010',#{mmPhone1},#{mmPhone2})
			,mmZipCode = #{mmZipCode}
			,mmAddress = #{mmAddress}
			,mmAddressDetail = #{mmAddressDetail} 
		WHERE
			1=1
		AND
			mmSeq = #{mmSeq}		
	</update>
	
	<update id ="uelete">
		
		UPDATE
			member
		SET
			mmDelNy = 1 
		WHERE
			mmSeq = #{shSeq}
	</update>
	
	<select id="selectLastSeq" resultType="Integer">
	
		SELECT
			mmSeq
		FROM member
		ORDER BY mmSeq DESC
	          LIMIT 1
		
	</select>
	
	<insert id="insertUpload">
	
		INSERT INTO uploadMemberProfile
		(
			upmDefaultNy
			,upmSort
			,upmExt
			,upmOriginalName
			,upmUuidName
			,upmSize
			,upmType
			,upmPath
			,upmMemberSeq
		)
		VALUES
		(
			#{upDefaultNy}
			,#{upSort}
			,#{upExt}
			,#{upOriginalName}
			,#{upUuidName}
			,#{upSize}
			,#{upType}
			,#{upPath}
			,#{mmSeq} 
		)
		
	</insert>
	
	<select id="checkProfileImg" resultMap="resultObj"  parameterType="Integer">
		SELECT
			upmUuidName as upUuidName
			,upmDelNy as upDelNy
		FROM uploadMemberProfile
		WHERE upmMemberSeq = #{i}
	</select>
	
	<update id="deleteProfileImg"  parameterType="Integer">
		UPDATE uploadMemberProfile 
		SET upmDelNy = 1
		WHERE upmMemberSeq = #{i}
		AND upmDelNy = 0
	</update>
	
</mapper> 