<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace = "com.bum2us.infra.modules.member.MemberMapper">

	<resultMap id = "resultObj" type="com.bum2us.infra.modules.member.Member"></resultMap>
	
	<select id="selectList" resultMap = "resultObj">
	
		SELECT
			*
		FROM member
		
	</select>
	
	<select id="selectSrc" resultMap="resultObj">
		
		SELECT
			*
		FROM member
		WHERE
		<choose>
			<when test= "shOption == 1"> name </when>
			<when test= "shOption == 2"> id </when>
			<when test= "shOption == 3"> nickname </when>
			<when test= "shOption == 4"> email </when>
			<when test= "shOption == 5"> phone </when>
		</choose>
		LIKE CONCAT ('%',#{shValue},'%')
		AND 
		<choose>
			<when test="shDateOption == 1">  </when>
			<when test="shDateOption == 2"> createDate </when>
			<when test="shDateOption == 3"> dob </when>
		</choose>
		BETWEEN #{shDateStart} AND #{shDateEnd}
		
	</select>

	<insert id = "insertList">
		
		INSERT INTO member(
		name
		,id
		,password
		,gender
		,email
		,telecom
		,phone
		,comment
		,nickname
		,dob
		)VALUES(
		
		#{name}
		,#{id}
		,#{password}
		,#{gender}
		,#{email}
		,#{telecom}
		,CONCAT ('010',#{phone1},#{phone2})
		,#{comment}
		,#{nickname}
		,#{dob}
		)
		
	</insert>
	
	<select id="selectOne" resultMap="resultObj">
		
		SELECT
			*
		FROM member
		WHERE id LIKE #{shId} AND password LIKE #{shPassword}
		
	</select>
	
</mapper> 